@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark-text: #f8fbff;
    --light-body: #f3f8fe;
    --light-mian: #fdfdfd;
    --ligth-secont: #c3c2c8;
    --light-hover: #f0f0f0;
    --light-text: #151426;
    --light-btn: #0000ff;
    --white: #fff;
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --font-family: "Raleway", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    place-items: center;
    font-family: var(--font-family);
    background: linear-gradient(to right, #9796f0, #fbc7d4);
}